/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4f4caf;
  color: white;
  padding: 1rem;
  text-align: center;
}

#controls {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#controls select {
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

#productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 300px;
  height: 500px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card > img {
  width: 90%;
  height: 50%;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-description {
  text-align: start;
  font-size: 0.9rem;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.2rem;
  max-height: 2.4rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-price {
  font-size: 1.1rem;
  color: #000;
  margin: 0.5rem 0;
}

.card-rating {
  font-size: 0.9rem;
  color: #888;
}
